@font-face {
  font-family: 'icons';
  src:
    url('../iconfonts/icons.ttf?s47ctb') format('truetype'),
    url('../iconfonts/icons.woff?s47ctb') format('woff'),
    url('../iconfonts/icons.svg?s47ctb#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"], [class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-uniE904:before {
  content: "\e904";
  color: #fff;
}
._icon--2:before {
  content: "\e900";
  color: #ff8e01;
}
