/**{*/
/*    color: red;*/
/*    border: 2px solid red;*/
/*}*/
body, html {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.button-img {
    text-align: center;
    background: #FFFFFF;
    /*margin: 50px auto 0;*/
    /*width: 30%;*/
    padding: 20px 80px;
    border: 1px solid rgba(255, 142, 1, 0.6);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-img:hover {
    background: #ff8e01;
    color: #FFFFFF;
}

.button-img:hover .button-img__text {
    color: #FFFFFF;
    text-decoration: none;
}

.button-img__text {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #172134;
}

.button-img__glass-orange {
    display: none;
}

.button-img:hover .button-img__glass-white {
    display: none;
}

.button-img:hover .button-img__glass-orange {
    display: block;
}

/*==============HEADER=============*/
.wrapper {
    position: relative;
    color: #FFFFFF;
    background: #1746d2 url("../image/MountainsHomePage.png") 50%/cover no-repeat;
    z-index: 6;
}

.vertical-line {
    position: absolute;
    height: 100%;
    width: 1px;
}

.vertical-line__one {
    top: 0;
    left: 75px;
}

.vertical-line__two {
    top: 0;
    left: calc((100% - 1179px) / 2);;
}

.vertical-line__three {
    background-color: green;
    top: 0;
    right: calc((100% - 1179px) / 2);
}

.vertical-line__four {
    top: 0;
    right: 75px;
}

.vertical-line__right {
    top: 0;
    left: calc((100% - 1179px) / 2 + (1179px / 4));
}

.vertical-line__center {
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.vertical-line__left {
    top: 0;
    right: calc((100% - 1179px) / 2 + (1179px / 4));
}

.wrapper .vertical-line {
    background: #FFFFFF;
    opacity: 0.1;
}

.whoI .vertical-line,
.progress .vertical-line,
.my_method .vertical-line,
.footer .vertical-line {
    background: #172134;
    opacity: 0.05;
}

.my_programs .vertical-line,
.road .vertical-line {
    background: #FFFFFF;
    opacity: 0.07;
}

.my_programs .vertical-line {
    z-index: 2;
}

[class*='vertical-line'] {
    /*display: none;*/
}

.wrapper a {
    color: #FFFFFF;
}

.header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 33px 182px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    white-space: nowrap;
}

.menu__body {
    margin: 0 20px;
    flex: 1 1 100%;
}

.menu__list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.menu__list li {
    list-style-type: none;
    white-space: nowrap;
    margin: 0 10px;
}

.menu__link {
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
}

.header-btn {
    padding-left: 24px;
    position: relative;
}

.header-btn::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    width: 10px;
    height: 24px;
    background: transparent url(../image/iconExit.svg) no-repeat;
}

/*=================================*/
.quote {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 185px 0 68px;
}

/*.quote__container{*/
/*    padding-left: 100px;*/
/*    padding-right: 100px;*/
/*}*/
.quote__scroll_down {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75px;
    padding-bottom: 100px;
}

.container {
    /*position: relative;*/
    /*z-index: 1;*/
    /*width: 1179px;*/
    /*max-width: 100%;*/
    /*margin: auto;*/
}

.quote__scroll_down__line {
    height: 70px;
    width: 1px;
    background: #FFFFFF;
    opacity: 0.4;
    margin-bottom: 20px;
}

.quote__scroll_down__text {
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;
    transform: rotate(-90deg) translateY(50px);
    transform-origin: left;
    margin-bottom: 20px;
    white-space: nowrap;
}

.quote__scroll_down__line {
    position: relative;
}

.scroll_down__img {
    position: absolute;
    bottom: -37px;
    left: -10px;
    max-width: initial;
}

.quote__content {
    padding-left: 100px;
    padding-right: 100px;
}

.quote__title {
    position: relative;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 65px;
    margin: 0;
}

.quote__text {
    color: transparent;
    -webkit-text-stroke: 1px #FFFFFF;
}

.quote__title::before {
    content: "";
    position: absolute;
    top: 9px;
    left: -100px;
    width: 69px;
    height: 49px;
    background: transparent url(../image/quote/quotes.png) no-repeat center;
}

.quote__title__author {
    display: table;
    padding-top: 18px;
    padding-right: 25px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    border-top: 2px solid rgba(255, 255, 255, .5);
    margin-bottom: 215px;
}

.quote__buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.round_page_buttons__string {
    display: flex;
    align-items: center;
}

.line {
    position: relative;
    height: 2px;
    width: 168px;
    background: rgba(255, 255, 255, 0.4);
    margin-right: 33px;
}

.line::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 1);
    width: 66px;
    height: 2px;
}

.active_page {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    align-items: center;
    display: flex;
}

/*=============Загальний стиль тексту під заголовком============*/
.btn {
    position: relative;
    display: block;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #172134;
    padding: 20px 56px;
    border: 1px solid rgba(255, 142, 1, 0.6);
}

.btn::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 65px;
    width: 15px;
    height: 13px;
    background: transparent url(../image/whoI/next.svg) no-repeat;
}

.btn:hover {
    background: #ff8e01;
    color: #FFFFFF;
}

.btn:hover.btn::before {
    background: transparent url(../image/quote/next.svg) no-repeat;
}

.under_title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

/*=============Загальний стиль тексту ============*/
/*==============================================================*/
.quote__under_title {
    margin-left: 3px;
    margin-right: 70px;
    padding-top: 1px;
    color: rgba(255, 255, 255, .7);
    text-transform: uppercase;
}

.biggest_text {
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 95px;
    line-height: 116px;
    color: #F3F8FD;
    opacity: 0.8;
}

.round_button {
    border-radius: 50%;
    cursor: pointer;
}

.btn_prev,
.btn_next {
    height: 56px;
    width: 56px;
    margin-right: 10px;

    text-transform: uppercase;
    background: transparent;
    border: 1px solid #FFFFFF;
}

.btn_next:last-child {
    margin-right: 0;
}

.social-btn {
    font-size: 0;
}

.social {
    padding: 0 15px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.quote__social {
    padding-bottom: 70px;
}

.social_fixed {
    position: fixed;
    z-index: 5;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    margin-bottom: 25px;
}

.quote__social-btn {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.4);
}

.social-btn:last-child {
    margin-bottom: 0;
}

/*=============================================*/

.whoI {
    position: relative;
    padding-top: 100px;
    /*background: #FFFFFF;*/
    /*z-index: 4;*/
}

.whoI_info {
    z-index: 1;
}

.title {
    padding: 30px 0 25px 0;
    margin: 0;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    text-transform: uppercase;
    color: #172134;
}

.whoI_info__text {
    color: #172134;
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 21px;
}

.whoI_info__text:last-of-type {
    margin-bottom: 66px;
}

.learn_more__btn {
    width: 45%;
    filter: drop-shadow(0px 30px 80px rgba(41, 87, 182, 0.3));
}

.whoI__button-img {
    margin-top: 66px;
    background: transparent;
    /*text-align: start;*/
}

.button-img__glass-white, .button-img__glass-orange {
    margin-left: 10px;
}

.learn_more__btn::before {
    right: 40px;
}

.whoI__social-btn {
    background: rgba(23, 33, 52, 0.05);
    border: 1px solid rgba(23, 33, 52, 0.1);
}

.social.social-img {
    background: rgba(23, 33, 52, 0.55);
}

.whoI__photo {
    /*flex: 0 0 41.666667%;*/
    /*max-width: 41.666667%;*/
    z-index: 1;
}

.initials {
    margin: 12px 0 1px 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #172134;
}

.job {
    margin: 0;
    font-weight: normal;
    font-size: 12px;
    line-height: 21px;
    color: #172134;
    opacity: 0.5;
}

.whoI .social {
    /*top: 0;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*padding-bottom: 0;*/
}

/*=============================================*/
.progress {
    position: relative;
    background: #FFFFFF;
    height: 100%;
    flex-direction: column;
    overflow: visible;
}

.progress__container {
    position: relative;
}

.name-psychologist__height {
    position: absolute;
    padding: 132px 0 0 0;
    transform: rotate(-90deg) translateY(115px) translateX(-89px);
    transform-origin: left;
    margin: 0 0 0 9px;
}

.progress__text {
    text-align: center;
    margin-bottom: 45px;
}

.progress__under_title {
    color: #2E2E26;
    padding: 0 110px;
    margin: 0;
}

.progress__player {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 599px;
    max-height: 100%;
    margin: 0 75px;
    background: #1746d2 url("../image/progress/backgroundPlayer.png") 50%/cover no-repeat;
}

.player_btn {
    width: 104px;
    height: 104px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    transition: background 0.5s ease;
}

.player_btn:hover {
    width: 150px;
    height: 150px;
    background: #FF8E01;
    border: 1px solid #FF8E01;
}

.progress__player-svg {
    transition: fill .5s ease;
}

.player_btn:hover .progress__player-svg path {
    fill: #FFFFFF;
    width: 28px;
    height: 31px;
}

.player_btn::before {
    content: "";
    display: block;
    top: 0;
    bottom: 0;
    left: -50%;
    right: -50%;
    margin: auto;
    position: absolute;
    width: 173px;
    height: 173px;
    border-radius: 50%;
    opacity: 0.2;

    border: 1px solid #FFFFFF;
    transition: width 0.5s ease, height .5s ease;
}

.player_btn:hover::before {
    width: 250px;
    height: 250px;
    border: 2px solid #FFFFFF;
}

.player_btn::after {
    content: "";
    display: block;
    top: 0;
    bottom: 0;
    left: -50%;
    right: -50%;
    margin: auto;
    position: absolute;
    width: 136px;
    height: 136px;
    border-radius: 50%;
    opacity: 0.4;
    border: 1px solid #FFFFFF;
    transition: width 0.5s ease, height .5s ease;
}

.player_btn:hover::after {
    width: 200px;
    height: 200px;
    border: 2px solid #FFFFFF;
}

.progress__player-svg {
    margin-left: 7px;
}

/*======================================*/
.my_method__container {
    position: relative;
}

.my_method {
    position: relative;
    padding-top: 3px;
    padding-bottom: 100px;
    background: #FAFCFF;
}

.my_method__method {
    position: absolute;
    width: 100%;
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*margin: 6px 75px 0;*/
    /*list-style-type: none;*/
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*flex-wrap: wrap;*/
    /*padding-left: 10px;*/
}

.my_method__approaches_column {
    margin-bottom: 20px;
}

.item {
    height: 100%;
}

.my_method__approaches_item {
    padding: 40px;
    background: #FFFFFF;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
}

.approaches_top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.my_method__button-img {
    margin: 0 auto;
}

/*===========Загальний стиль заголовка методів==============*/
.title_methods {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.approaches_title {
    position: relative;
    padding-bottom: 18px;
    margin: 0 0 19px 0;
    color: #172134;
}

.add_indent {
    margin-right: 21px;
}

.approaches_title::before {
    right: auto;
}

.approaches_title::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 46px;
    height: 1px;
    background: #FF8E01;
}

.approaches_img {
    height: 100%;
}

.approaches_text {
    margin-bottom: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;

    color: #2E2E26;
}

.my_method__btn {
    background: #FFFFFF;
    margin: 55px auto 0;
    width: 25%;
}

.my_method__btn::before {
    right: 40px;
}

/*============================================*/
.my_programs {
    position: relative;
    background: #FAFCFF;
}

.my_programs_container {
    z-index: 3;
}

.my_programs__under_title {
    margin: 0;
}

.my_programs {
    position: relative;
}

.my_programs__method {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 63px 0 48px 0;
    background: #FFFFFF;
}

/*.my_programs::after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    margin: auto;*/
/*    !*width: 100%;*!*/
/*    !*height: 116px;*!*/
/*    background:red url("../image/myPrograms/myPrograms.png")0 0/100% auto no-repeat;*/
/*  */
/*}*/

.my_programs__col {
    position: relative;
    /*z-index: 2;*/
}

.my_programs__approaches_item {
    height: 100%;
    position: relative;
    text-align: center;
    padding: 60px;
    background: #FFFFFF;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
}

/*.my_programs__approaches_item:hover .my_programs__approaches_item {*/
/*    border: none;*/
/*}*/
.my_programs__item-active {
    width: 100%;
    height: 100%;
    background: #1746d2 url("../image/myPrograms/classActive.jpg") 50%/cover no-repeat;
    padding: 40px;
    position: absolute;
    text-align: start;
    display: flex;
    flex-direction: column;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
    transition: .5s;
}

.my_programs__approaches_item:hover .my_programs__item-active {
    z-index: 999;
    opacity: 1;
    visibility: visible;
    /*width: 100%;*/
}

.my_programs__button-img {
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
}

.image_radius-background {
    position: relative;
    top: 0;
    margin-bottom: 25px;
    height: 80px;
    flex-shrink: 0;
}

.my_programs__icon {
    position: absolute;
    top: 10px;
}

.radius-background {
    position: absolute;
    top: 0;
    left: 7px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background: #F0F5F8;
    opacity: 0.05;
}

.my_programs__title-methods {
    margin: 0 0 10px 0;
    color: #FFFFFF;
}

.my_programs__text {
    color: #FFFFFF;
    margin: 0;
    flex: 0 1 100%;
    overflow: hidden;
}

.my_programs__btn {
    background: #FFFFFF;
    margin: 30px auto 0;
    width: 100%;
}

.my_programs__btn::before {
    right: 40px;
}

.approaches_column_title {
    padding-bottom: 15px;
    margin: 30px auto 8px;
}

.approaches_column_title::before {
    right: 0;
}

.my_programs__text-advantage {
    margin: 0;
}

/*.my_programs__method {*/
/*    position: static;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    color: #F3F8FD;*/
/*    opacity: 1;*/
/*}*/

/*.my_programs__method li {*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    padding-top: 58px;*/
/*    padding-bottom: 33px;*/
/*    background: #FAFCFF;*/
/*    margin: 0;*/
/*}*/

/*.my_programs__method li:nth-child(2) {*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    right: 0;*/
/*    padding-bottom: 33px;*/
/*    background: #FAFCFF;*/
/*}*/


/*===================================*/
.road {
    /*top: -190px;*/
    position: relative;
    padding-top: 134px;
    padding-bottom: 100px;
    background: #FFFFFF;
}

.road__method {
    top: -184px;
    padding: 58px 0 15px;
    background: #FAFCFF;
    margin: 0;
    opacity: 1;
    z-index: 1;
}

.road__content {
    margin: 0 75px;
    background: #1746d2 url("../image/road/backgroundRoad.png") 50%/cover no-repeat;
}

.road_container {
    text-align: center;
    padding: 95px 0 100px;
}

.road__title {
    padding: 0 50px;
    color: #FFFFFF;
}

.road__btn {
    background: #FFFFFF;
    margin: 50px auto 0;
    width: 30%;
    padding: 20px 90px;
    text-align: start;
}

.road__button-img {
    margin: 50px auto 0;
    padding: 20px 90px;
}

.road__btn::before {
    right: 90px;
}

/*============================================*/
.footer {
    position: relative;
    background: #FAFCFF;
    padding: 54px 0 49px;
}

.footer_container {
    display: flex;
}

.footer__content {
    flex: 1 1 50%;
    max-width: 50%;
}

.email {
    display: flex;
    color: rgba(23, 33, 52, 0.6);
    justify-content: flex-end;
    padding-right: 124px;
}

.info_contact {
    display: flex;
    margin: 0;
    padding: 0;
}

.info_contact__item {
    list-style: none;
}

.info_contact__item:first-child {
    margin-left: 84px;
}

.info_contact__link {
    margin-right: 31px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;

    color: rgba(23, 33, 52, 0.7);

}

/*========================================*/
/*========================================*/
.modal-content {
    display: none;
    position: absolute;
    top: 90px;
    left: 50%;
    width: 470px;
    height: 470px;
    margin-left: -230px;
    padding: 45px 60px 58px;
    background: #FFFFFF;
}

.modal-content-registration {
    display: none;
    position: absolute;
    top: 90px;
    left: 50%;
    width: 470px;
    height: 550px;
    margin-left: -230px;
    margin-top: 480px;
    padding: 45px 60px 58px;
    background: #FFFFFF;
}

@keyframes bounce {
    0% {
        transform: translateY(-2000px);
    }
    70% {
        transform: translateY(30px);
    }
    90% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        transform: translateY(10px);
    }
}

.modal-error {
    animation: shake .6s;
}

.modal-content-close {
    position: absolute;
    top: 0;
    right: -34px;

    width: 22px;
    height: 22px;

    font-size: 0;

    background-color: transparent;
    border: 0;
    cursor: pointer
}

.modal-content-close::before,
.modal-content-close::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 2px;

    width: 19px;
    height: 3px;
    background-color: #d0d0d0;
    border-radius: 1px;
}

.modal-content-close::before {
    transform: rotate(45deg);
}

.modal-content-close::after {
    transform: rotate(-45deg);
}

.modal-content-title {
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;

    text-align: center;
    text-transform: uppercase;


    color: #172134;
}

.modal-content-title::before {
    left: 43%;
}

.modal-content .login-form {
    margin-top: 25px;
    margin-bottom: 10px;
}

.login-form input[type="text"], .login-form input[type="password"] {
    width: 100%;
    margin: 0 0 15px;
    padding: 22px 56px 24px 30px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #172134;
    background: #FFFFFF;
    border: 1px solid rgba(23, 33, 52, .2);
}

.login-form input.icon-user {
    background: url(../pop-upImage/registration/user.svg) 95% 22px no-repeat, url(../pop-upImage/Exit/grayLine.svg) 85% 15px no-repeat;
}

.login-form input.icon-email {
    background: url(../pop-upImage/Exit/E-mail.svg) 95% 22px no-repeat, url(../pop-upImage/Exit/grayLine.svg) 85% 15px no-repeat;
}

.login-form input.icon-password {
    background: url(../pop-upImage/Exit/Password.svg) 95% 22px no-repeat, url(../pop-upImage/Exit/grayLine.svg) 85% 15px no-repeat;
}

.login-checkbox {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 14px;
    line-height: 17px;
    color: #172134;
}


.login-checkbox input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    top: -3px;
    left: 0;
    width: 20px;
    height: 20px;
    opacity: 0.8;
    border: 1px solid #172134;
    border-radius: 3px;
}

.remember {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.restore {
    font-size: 14px;
    line-height: 17px;
    color: #FF8E01;
}

.exit__btn {
    width: 100%;
    margin-top: 16px;
    padding: 20px 50px;
    background: #FFFFFF;
    border: 1px solid #FF8E01;
}

.exit__btn::before {
    content: "";
    position: absolute;
    top: 42%;
    right: 35%;
    width: 15px;
    height: 25px;
    background: transparent url(../image/whoI/next.svg) no-repeat;
}

.registration {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
}

.registration_text {
    color: #172134;
}

.registration__link {
    color: #FF8E01;;
    border-bottom: 1px solid #FF8E01;;

}

.modal-content-show {
    display: block;
    animation: bounce .6s;
}

.login-checkbox input[type="checkbox"] {
    display: none;
}


.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
    content: '';
    position: absolute;
    top: 8px;
    left: 2px;

    width: 15px;
    height: 1px;

    background-color: #000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
    transform: rotate(45deg);
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
    transform: rotate(-45deg);
}

.registration-login-checkbox {
    padding-left: 36px;
    margin-top: 20px;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-transform: lowercase;
    color: #172134;
}

.login-checkbox input[type="checkbox"] + .registration-checkbox-indicator {
    top: 4px;
}

.registration__exit__btn::before {
    right: 15%;
}

.capital_letter {
    text-transform: uppercase;
}