@media screen and (min-width: 1200px) {
    .header {
        padding-left: 100px;
        padding-right: 100px;
    }

    .icon-menu {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .vertical-line__two, .vertical-line__three {
        display: none;
    }

    .header__container {
        display: none;
    }

    .header {
        padding: 33px 100px 30px;

    }

    .icon-menu {
        display: block;
        position: relative;
        cursor: pointer;
        z-index: 5;
    }

    .icon-menu span {
        top: calc(50% - 1px);
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
    }

    .icon-menu span:first-child {
        top: 0;
    }

    .icon-menu span:last-child {
        top: auto;
        bottom: 0;
    }

    .header__logo {
        padding: 15px;
        font-size: 24px;
    }

    .header-btn {
        padding: 15px 15px 15px 15px;
        font-size: 24px;
    }

    .header-btn::before {
        top: 14px;
        bottom: 0;
        left: -6px;
        margin: auto;
        width: 14px;
        height: 29px;
        background: transparent url(../image/iconExit.svg) 0 0/100% no-repeat;
    }

    .icon-menu {
        width: 42px;
        height: 27px;
    }

    .my_programs__method {
        /*display: none;*/
    }

    .my_programs__item-active {
        padding: 20px;
    }

    .my_programs__btn, .button-img {
        padding-left: 40px;
        padding-right: 40px;
    }

    .quote__content {
        padding: 0 100px;
    }

    .whoI_container {
        display: flex;
    }

    .whoI .social {
        z-index: 5;
    }

    .btn::before {
        right: 45px;
    }
}

@media screen and (max-width: 992px) {

    .line {
        height: 4px;
        width: 168px;
        margin-right: 40px;
    }

    .line::before {
        width: 70px;
        height: 4px;
    }

    .active_page {
        font-size: 40px;
    }

    .under_title {
        font-size: 20px;
    }

    .btn_prev, .btn_next {
        height: 100px;
        width: 100px;
        margin-right: 30px;
    }

    .btn_prev svg, .btn_next svg {
        width: 25px;
        height: 25px;
    }

    .quote {
        padding: 100px 0 40px;
    }

    /*.quote .vertical-line__right,*/
    /*.quote .vertical-line__left {*/
    /*    position: static;*/
    /*}*/
    .quote__title {
        font-size: 40px;
        line-height: 50px;
    }

    .quote__title::before {
        left: -60px;
        background: transparent url(../image/quote/quotes.png) 0 0/65% no-repeat;
    }

    .quote__title__author {
        margin-bottom: 50px;
    }

    .whoI_container {
        padding-top: 30px;
    }

    .title {
        padding: 0;
        font-size: 35px;
    }

    .learn_more__btn {
        width: 65%;
    }

    .my_method {
        padding-bottom: 50px;
    }

    .my_method__btn {
        width: 45%;
    }

    .my_programs__col {
        margin-bottom: 30px;
    }

    .biggest_text {
        font-size: 45px;
        white-space: pre-line;
    }


    .my_programs__approaches_item {
        padding: 30px 0;

    }

    .progress__text {
        text-align: center;
        padding-top: 20px;
    }
}


@media (max-width: 768px) {
    .vertical-line__right, .vertical-line__left {
        display: none;
    }

    .quote__content {
        font-size: 45px;
    }

    .quote__title__author {
        margin-bottom: 100px;
    }

    .road {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .round_page_buttons__string {
        justify-content: center;
        width: 100%;
    }

    .quote__under_title {
        margin-right: 0;
    }

    .round_page_buttons__button {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
    }

    .learn_more__btn {
        width: 85%;
    }

    .col {
        flex: 0 0 50%;
        margin-bottom: 30px;
    }

    .my_programs__method {
        /*display: none;*/
    }

    .footer {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .email {
        margin-bottom: 15px;
    }
}

@media (min-width: 768px) and (max-width: 842px) {
    .my_method__approaches, .my_programs__row {
        padding-right: 70px;
    }
}

@media screen and (max-width: 575px) {
    .quote__content {
        padding: 10px 45px;
    }
}

@media (max-width: 576px) {
    [class*='vertical-line'] {
        display: none;
    }

    .glass-white, .glass-orange {
        display: none;
    }

    .button-img {
        padding-left: 10px;
        padding-right: 10px;
    }

    .header {
        flex-direction: column;
    }

    .quote {
        padding: 0;
    }

    .quote__title__author {
        margin-bottom: 30px;
    }

    .line {
        display: none;
        margin-top: 50%;
    }

    .whoI_info {
        padding-right: 75px;
    }

    .whoI__photo {
        padding-right: 75px;
    }

    .wrapper a {
        margin-bottom: 20px;
    }

    .under_title {
        padding: 0;
    }

    .progress__player {
        margin: 0 75px 0 10px;
    }

    .button-img {
        width: 100%;
        justify-content: center;
    }

    .wrapper-button-img {
        padding-right: 70px;
    }

    .progress__text {
        padding-right: 70px;
        margin-bottom: 15px;
    }

    .my_method {
        padding-bottom: 15px;
    }

    .my_method__button-img {
        margin: 0;
    }

    .biggest_text {
        display: none;
    }

    .my_programs__title {
        font-size: 25px;
        line-height: 30px;
    }

    .road__content {
        margin: 0 70px 0 10px;
    }

    .road__title {
        padding: 0;
        font-size: 21px;
        line-height: 45px;
    }

    .road__button-img {
        padding-left: 20px;
        padding-right: 20px;
        width: auto;
    }

    .footer_container {
        /*display: inline-block;*/
        justify-content: space-around;
    }

    .footer__content {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .info_contact__item:first-child {
        margin: 0;
    }

    .email {
        display: inline-block;
        padding: 0;
    }

    .quote__title {
        font-size: 30px;
        line-height: 40px;
    }

    .quote__title::before {
        display: none;
    }
}

@media screen and (max-width: 360px) {
    .btn_prev, .btn_next {
        height: 80px;
        width: 80px;
    }
}

@media screen and (max-width: 320px) {
    .footer_container {
        flex-direction: column;
    }
}

@media screen and (min-width: 575px) {

    .header__logo {
        margin-bottom: 10px;
    }

    .header-btn {
        margin-bottom: 10px;
    }
}





